@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", cursive;
  background-image: url('test8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
header{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    align-items: center;
    background: #04202b;
    height: 80px;
    width: 100%;
    box-shadow: 0px 0px 10px #05498d;
}
header .logo{
    position: relative;
    color: #05498d;
}
#side{
    width: 50px;
    display: none;
}
#cancel{
    width: 50px;
    display: none;
}
header nav{
    display: inline;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 45%;
}
header nav a{
    margin: 25px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fefefe;

}
main{
    position: absolute;
    padding: 120px 100px;
}

main .container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
main .container .content .big{
    font-size: 3.3rem;
    color: #2f475f;
}
main .container .content h1{
    font-size: 2.5rem;
    color:  #05498d;

}

main .container .content h2{
    font-size: 1.5rem;
    color:  #000000;
    padding: 30px;
}

main .container .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 15px;
    padding-left: -20px;
    
}

main .container .btns button{
    padding: 10px 30px;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    font-family: "Poppins", cursive;
    background: #05498d;
    color: #000;
}


main .container .btns  .first{
    background: #2f475f;
    color: #fefefe;
}

main .container .content img{
    width: 500px;
    height :400px;
    
    border-radius: 12px 12px;
    
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 650px;
    width: 100%;
    background: #222;
    gap: 150px;
}
footer .content{
    padding-top: 50px;
    color: #fefefe;
}

footer .content .imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer .content ul{
    list-style: none;
    gap: 10px;
}
footer .content li{
    color: #fff;
    font-size: 1rem;
    padding: 8px;
}
footer .content h2{
    color: #05498d;
    font-size: 1.5rem;
    padding: 10px;
}
@media(max-width:1325px){
   
    header nav{
        margin-left: 38%;
    }
    main{
        padding-top: 150px;
    }
    footer{
        gap: 30px;
        margin-top: 670px;
    }
}
@media(max-width:1160px){
  
    header nav{
        margin-left: 28%;
    }
    main{
        padding-top: 150px;
    }
    main .container .btns{
        gap: 50px;
    }
}

@media(max-width:1037px){
  
    header nav{
        margin-left: 25%;
    }
    main .container{
        
        gap: 70px;
    }

    main .container .btns{
        gap: 50px;
        margin-left: -60px;
    }
    footer{
        margin-top: 720px;
    }
}

@media(max-width:975px){
  
    header nav{
        margin-left: 15%;
    }
    main .container{
        
        gap: 70px;
    }

    main .container .btns{
        gap: 50px;
        margin-left: -60px;
        
       
    }
    main .container .content img{
        width: 300px;
        height: 300px;
        
    }
    footer{
        margin-top: 820px;
    }
}

@media(max-width:875px){
  
    header nav{
        margin-left: 10%;
    }
    header nav a{
        font-size: 1rem;
    }
    main .container{
        
        gap: 120px;
    }

main .container .content h1{
    font-size: 1.8rem;
}
main .container .content .big{
    font-size: 2.3rem;
}

main .container .content h2{
    font-size: 1rem;
}
    main .container .btns{
        gap: 40px;
        margin-left: -80px;
        
       
    }
    main .container .btns button{
        font-size: 13px;
    }
    main .container .content img{
        width: 250px;
        height: 250px;
        mix-blend-mode:multiply;

    }
    footer{
        margin-top: 820px;
    }
    footer .content h2{
        font-size: 1rem;
    }
    footer .content li{
        font-size: 0.6rem;
    }
    footer .content img{
        width: 40px;
    }
    footer .content .imgs img{
      width: 30px;
    }
    footer .content h3{
        font-size: 0.6rem;
    }
}

@media(max-width:776px){
    header{
        background:  #05498d;
        box-shadow:  0px 0px 25px #fff;
        height: 90px;
    }
    header .logo{
        color: #fefefe;
        position: absolute;
        margin-left: -500px;
    }
    #side{
        width: 50px;
        display: block;
        margin-left: 650px;
    }
    #cancel{
        width: 50px;
        display: none;
        margin-left: 650px;
        
    }
    header nav{
       background: #222;
       display: none;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       margin-top: 590px;
       margin-left: -312px;
       width: 100%;
       height: 500px;
       gap: 2px;
       
    }
    header nav a{
        color: #fff;
    }
    main .container{
        flex-direction: column-reverse;
    }
    main .container .content h1{
        font-size: 1.5rem;
    }
    main .container .content img{
        width: 400px;
        height: 400px;

    }
    footer{
        margin-top: 1000px;
    }
} 

@media(max-width:700px){
    header{
        background:    #05498d;
        box-shadow:  0px 0px 25px #fff;
        height: 80px;
    }
    header .logo{
        color: #fefefe;
        position: absolute;
        
        margin-left: -400px;
    }
    #side{
        width: 40px;
        display: block;
        margin-left: 550px;
    }
    #cancel{
        width: 40px;
        display: none;
        margin-left: 550px;
        
    }
    header nav{
       background: #222;
       display: none;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       margin-top: 560px;
       margin-left: -252px;
       width: 100%;
       height: 500px;
       gap: 2px;
       
    }
    header nav a{
        color: #fff;
    }
    main .container{
        flex-direction: column-reverse;
    }
    main .container .content h1{
        font-size: 1.5rem;
    }
    main .container .content img{
        width: 370px;
        height: 370px;

    }
    main .container .btns{
        margin-left: 20px;
    }
    footer{
        margin-top: 1000px;
    }
} 

@media(max-width:600px){
    header .logo{
        color: #fefefe;
        position: absolute;
        margin-left: -350px;
    }
    #side{
        width: 40px;
        display: block;
        margin-left: 450px;
    }
    #cancel{
        width: 40px;
        display: none;
        margin-left: 450px;
        
    }

    main .container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    main .container .content h1{
        font-size: 1.5rem;
    }
    main .container .content img{
        width: 300px;
        height: 300px;

    }
    main .container .btns{
        margin-left: 20px;
        gap: 30px;
    }
    footer{
        flex-direction: column;
        gap: 40px;
    }
    footer  #first{
        margin-left: -300px;
    }
    footer .content h2{
        font-size: 1.5rem;
    }
    footer .content li{
        font-size: 1rem;
    }
    footer .content img{
        width: 50px;
    }
    footer .content .imgs img{
      width: 40px;
      gap: 120px;
    }
    footer .content h3{
        font-size: 1rem;
    }

}

@media(max-width:500px){
    header .logo{
        color: #fefefe;
        position: absolute;
        margin-left: -300px;
    }
    #side{
        width: 40px;
        display: block;
        margin-left: 380px;
    }
    #cancel{
        width: 40px;
        display: none;
        margin-left: 380px;
        
    }

    main .container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    main .container .content h1{
        font-size: 1rem;
    }
    main .container .content img{
        width: 200px;
        height: 200px;

    }
    main .container .content .big{

        font-size: 1.3rem;
    }
    main .container .btns{
      
        gap: 20px;
        
    }
    main .container .btns button{
        padding: 15px 30px;
        font-size: 8px;
    }
    footer{
        flex-direction: column;
        gap: 40px;
        margin-top: 800px;
    }
    footer  #first{
        margin-left: -200px;
    }
    footer .content h2{
        font-size: 1.5rem;
    }
    footer .content li{
        font-size: 1rem;
    }
    footer .content img{
        width: 50px;
    }
    footer .content .imgs img{
      width: 40px;
      gap: 120px;
    }
    footer .content h3{
        font-size: 1rem;
    }

}

@media(max-width:440px){
    header nav{
        width: 60%;
        margin-left: 205px;
        margin-top: 580px;
    }
    header .logo{
        color: #fefefe;
        position: absolute;
        margin-left: -200px;
    }
    #side{
        width: 50px;
        display: block;
        margin-left: 300px;
    }
    #cancel{
        width: 50px;
        display: none;
        margin-left: 250px;
        position: absolute;
    }
   
    main .container{
        flex-direction: column-reverse;
        gap: 20px;
       
    }
    main .container .content{
        margin-left: -50px;
    }
    main .container .content h1{
        font-size: 1rem;
    }
    main .container .content img{
        width: 200px;
        height: 200px;

    }
    main .container .btns{
        position: absolute;
        gap: 20px;
        
    }
    main .container .btns button{
        padding: 5px 10px;
        height: 55px;
        width: 150px;
        font-size: 15px;
    }
    footer{
        flex-direction: column;
        gap: 40px;
        margin-top: 800px;
        width: 100%;
        margin-left: 1px;
    }
    footer  #first{
        margin-left: -130px;
    }
    footer .content h2{
        font-size: 1.5rem;
    }
    footer .content li{
        font-size: 1rem;
    }
    footer .content img{
        width: 50px;
    }
    footer .content .imgs img{
      width: 40px;
      gap: 120px;
    }
    footer .content h3{
        font-size: 1rem;
    }

}

@media(max-width:395px){
    header nav{
        width: 60%;
        margin-left: 155px;
    }
     header nav a{
        font-size: 1rem;
     }
     #side{
        width: 50px;
        display: block;
        margin-left: 280px;
    }
    #cancel{
        width: 50px;
        display: none;
        margin-left: 240px;
        position: absolute;
    }
    main .container{
        flex-direction: column-reverse;
        gap: 20px;
       
    }
    main .container .content{
        margin-left: -50px;
    }
    main .container .content h1{
        font-size: 1rem;
    }
    main .container .content img{
        width: 200px;
        height: 200px;

    }
    main .container .btns{
        position: absolute;
        gap: 20px;
        margin-left: 20px;
    }
    main .container .btns button{
        padding: 5px 10px;
        height: 55px;
        width: 120px;
        font-size: 15px;
    }

    footer{
        flex-direction: column;
        gap: 40px;
        margin-top: 800px;
        width: 100%;
        
    }
    footer  #first{
       margin-left: -130px;
    }
    footer .content h2{
        font-size: 1rem;
    }
    footer .content li{
        font-size: 0.8rem;
    }
    footer .content img{
        width: 50px;
    }
    footer .content .imgs img{
      width: 40px;
      gap: 120px;
    }
    footer .content h3{
        font-size: 0.8rem;
    }

}
@media(max-width:353px){
    #side{
        width: 50px;
        display: block;
        margin-left: 220px;
    }
    #cancel{
        width: 50px;
        display: none;
        margin-left: 220px;
        position: absolute;
    }
    main .container .content :nth-last-child(){
        
    }
    main .container .btns{
        margin-left: -20px;
    }
    main .container .btns button{
        font-size: 13px;
    }
   footer{
    margin-left: 10px;
    width: 100%;
   }
}
